JLinkLog.txt
Listings
Objects
*.0000
*.0001
.DS_Store
xcuserdata/
xcshareddata/
.xcshareddata/
UserInterfaceState.xcuserstate
caffe
theano/DeepLearningTutorials/protobuf/build-protobuf
ble_app/Objects/
ble_app/Listings/*
ble_app/JLinkLog.txt
*.bak
*.uvguix.*
*.map
*.hex
